body {
    background-image: url('../images/IMG_5167.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {

    font-family: "Niconne", cursive;
    font-weight: 500;
    font-style: normal;
    color: brown;
    border-style: double;

}
h2 {
    .charm-bold {
        font-family: "Charm", cursive;
        font-weight: 700;
        font-style: normal;
      }
      
}

#mainImg, .mainPara, .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mealMonth {
    text-align: center;
}

main {
    width: 40%;
    margin-left: 10%;
    margin-right: 40%;
    float: left;
    border-style:groove;
    padding: 1.5%;

}

div  {
    width: 30%;
    margin-left: 62%;
    padding: 3%;
    border-style: dotted;
    position:absolute

}

.mainPara {
    color: rgb(173, 23, 173)


}

.font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;

}

.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgba(186, 5, 102, 0.777);
  }
  
  .charm-bold {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    color: brown;
  }
  
  .sorts-mill-goudy-regular {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal;
  }